[submodule "aht20-rs"]
	path = aht20-rs
	url = https://github.com/QuackHack-McBlindy/aht20-rs.git
[submodule "es8311-rs"]
	path = es8311-rs
	url = https://github.com/QuackHack-McBlindy/es8311-rs.git
[submodule "esp-adf-rs"]
	path = esp-adf-rs
	url = https://github.com/QuackHack-McBlindy/esp-adf-rs.git
[submodule "MS58-3909S68U4-rs"]
	path = MS58-3909S68U4-rs
	url = https://github.com/QuackHack-McBlindy/MS58-3909S68U4-rs.git
[submodule "tinyapi"]
	path = tinyapi
	url = https://github.com/QuackHack-McBlindy/tinyapi
[submodule "es7210-rs"]
	path = es7210-rs
	url = git@github.com:QuackHack-McBlindy/es7210-rs.git
[submodule "barely-fuzzy"]
	path = barely-fuzzy
	url = https://github.com/QuackHack-McBlindy/barely-fuzzy
